Carlos Martín Nieto <cmn@dwim.me> <carlos@cmartin.tk>
Christian Boos <cboos@edgewall.org> <cboos@bct-technology.com>
Gustavo Di Pietro <pistacchio@gmail.com>
J. David Ibáñez <jdavid.ibp@gmail.com> <jdavid@itaapy.com>
Martin Lenders <mlenders@elegosoft.com> <authmill@datalove.me>
Óscar San José <osanjose@tuenti.com>
Richo Healey <richo@psych0tik.net>
Xavier Delannoy <xavier.delannoy@gmail.com>
Xu Tao <xutao881001@gmail.com> <xutao@douban.com>
Xu Tao <xutao881001@gmail.com>

<bravejolie@gmail.com> <victor@tuenti.com>
<jplana@tuenti.com> <jplana@gmail.com>
<petrhosek@gmail.com> <p.hosek@imperial.ac.uk>

Vlad Temian <vladtemian@gmail.com>

Matthew Gamble <git@matthewgamble.net>

Kaarel Kitsemets <kitsemets@gmail.com>
