Alexander Bayandin <a.bayandin@gmail.com> <bayandin@users.noreply.github.com>
Anatoly Techtonik <techtonik@gmail.com>
Bob Carroll <bob.carroll@alum.rit.edu> <bobc@qti.qualcomm.com>
Brandon Milton <bmilton@fb.com> <brandon.milton21@gmail.com>
Carlos Martín Nieto <cmn@dwim.me> <carlos@cmartin.tk>
Christian Boos <cboos@edgewall.org> <cboos@bct-technology.com>
Guillermo Pérez <bisho@fb.com> <bisho@freedreams.org>
Gustavo Di Pietro <pistacchio@gmail.com>
J. David Ibáñez <jdavid.ibp@gmail.com> <jdavid@itaapy.com>
Jose Plana <jplana@tuenti.com> <jplana@gmail.com>
Kaarel Kitsemets <kitsemets@gmail.com>
Lukas Fleischer <lfleischer@lfos.de> <info@cryptocrack.de>
Martin Lenders <mlenders@elegosoft.com> <authmill@datalove.me>
Matthew Duggan <mduggan@qti.qualcomm.com> <mgithub@guarana.org>
Matthew Gamble <git@matthewgamble.net>
Matthias Bartelmeß <mba@fourplusone.de>
Óscar San José <osanjose@tuenti.com>
Petr Hosek <petrhosek@gmail.com> <p.hosek@imperial.ac.uk>
Richo Healey <richo@psych0tik.net>
Robert Hölzl <robert.hoelzl@posteo.de>
Sriram Raghu <imbuedhope@gmail.com> <imbuedHope@users.noreply.github.com>
Tamir Bahar <tamir@north-bit.com> <tmr232@github>
Tamir Bahar <tamir@north-bit.com> <tmr232@users.noreply.github.com>
Victor Garcia <bravejolie@gmail.com> <victor@tuenti.com>
Vlad Temian <vladtemian@gmail.com>
Xavier Delannoy <xavier.delannoy@gmail.com>
Xu Tao <xutao881001@gmail.com> <xutao@douban.com>
Xu Tao <xutao881001@gmail.com>
Mikhail Yushkovskiy <mailto@zensecurity.su>
