version: 1.0.{build}
image: Visual Studio 2015
configuration: Release
environment:
  global:
    TWINE_USERNAME: jdavid
    TWINE_PASSWORD:
      secure: m6oBGys2nmQTRn7vDv8/FA==
  matrix:
  - GENERATOR: 'Visual Studio 10'
    PYTHON: 'C:\Python27\python.exe'
    TOXENV: py27
  - GENERATOR: 'Visual Studio 10 Win64'
    PYTHON: 'C:\Python27-x64\python.exe'
    TOXENV: py27
  - GENERATOR: 'Visual Studio 10'
    PYTHON: 'C:\Python34\python.exe'
    TOXENV: py34
  - GENERATOR: 'Visual Studio 10 Win64'
    PYTHON: 'C:\Python34-x64\python.exe'
    TOXENV: py34
  - GENERATOR: 'Visual Studio 14'
    PYTHON: 'C:\Python35\python.exe'
    TOXENV: py35
  - GENERATOR: 'Visual Studio 14 Win64'
    PYTHON: 'C:\Python35-x64\python.exe'
    TOXENV: py35
  - GENERATOR: 'Visual Studio 14'
    PYTHON: 'C:\Python36\python.exe'
    TOXENV: py36
  - GENERATOR: 'Visual Studio 14 Win64'
    PYTHON: 'C:\Python36-x64\python.exe'
    TOXENV: py36
  - GENERATOR: 'Visual Studio 14'
    PYTHON: 'C:\Python37\python.exe'
    TOXENV: py37
  - GENERATOR: 'Visual Studio 14 Win64'
    PYTHON: 'C:\Python37-x64\python.exe'
    TOXENV: py37

init:
- cmd: '%PYTHON% -m pip install -U wheel tox'

build_script:
- cmd: |
    set LIBGIT2=%APPVEYOR_BUILD_FOLDER%\build\libgit2
    git clone --depth=1 -b maint/v0.27 https://github.com/libgit2/libgit2.git libgit2
    mkdir build
    
    cd build
    cmake -DSTDCALL=OFF -DBUILD_CLAR=OFF -DCMAKE_INSTALL_PREFIX="%LIBGIT2%" ../libgit2 -G "%GENERATOR%"
    cmake --build . --config Release --target install
    cd ..
    
    IF "%GENERATOR%"=="Visual Studio 10 Win64" ( call "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" )
    
    "%PYTHON%" setup.py bdist_wheel 

test_script:
- ps: |
    $env:LIBGIT2 = ($Env:APPVEYOR_BUILD_FOLDER + "\build\libgit2")
    &$env:PYTHON -m tox
    
    if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode) }
    
    # upload results to AppVeyor
    $wc = New-Object 'System.Net.WebClient'
    $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path ".\junit-$env:TOXENV.xml"))

artifacts:
- path: dist\*.whl

deploy_script:
- ps: if ($env:APPVEYOR_REPO_TAG -eq $TRUE) { pip install twine; twine upload dist/* }

deploy: on
