name: Wheels

on:
  push:
    branches:
    - master
    - wheels-*
    tags:
    - 'v*'

jobs:
  build_wheels:
    name: Wheels for ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - name: linux-amd
          os: ubuntu-24.04
        - name: linux-arm
          os: ubuntu-24.04-arm
        - name: macos
          os: macos-13

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel~=3.1.1

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.name }}
          path: ./wheelhouse/*.whl

  build_wheels_ppc:
    name: Wheels for linux-ppc
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/ppc64le

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel~=3.1.1

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_ARCHS: ppc64le
          CIBW_ENVIRONMENT: LIBSSH2_VERSION=1.11.1 LIBGIT2_VERSION=1.9.1 LIBGIT2=/project/ci

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-ppc
          path: ./wheelhouse/*.whl

  pypi:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    needs: [build_wheels, build_wheels_ppc]
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/download-artifact@v4
      with:
        path: dist
        pattern: wheels-*
        merge-multiple: true

    - name: Display structure of downloaded files
      run: ls -lh dist

    - uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
